<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <%= link_to 'Dashboard' %>
          </li>
          <li class="breadcrumb-item active">New Appointment</li>
        </ol>
      </div>
      <h4 class="page-title"> Create Appointment</h4>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-12">
    <%= render partial: 'form' %>
  </div>
</div>